{% extends "auctions/layout.html" %}
<!--
    Create Listing: Users should be able to visit a page to create a new listing.
    They should be able to specify a title for the listing, a text-based description, and what the starting bid should be.
    Users should also optionally be able to provide a URL for an image for the listing and/or a category (e.g. Fashion, Toys, Electronics, Home, etc.). 
-->
{% block body %}
    

    <div id="create-listing">
        <h2>Create New Listing</h2>

        {% if user.is_authenticated %}
            Signed in as <strong>{{ user.username }}</strong>.
            Form to submit auction fields.

            <form action="{% url 'create' %}" id="create-form" method="post">
                {% csrf_token %}
                <div class="form-field">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
                <div class="form-field">
                    {{ form.content.label_tag }}
                    {{ form.content }}
                </div>
                <div class="form-field">
                    {{ form.cost.label_tag }}
                    {{ form.cost }}
                </div>

                <div class="form-field">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>

                <div class="form-field">
                    {{ form.image.label_tag }}
                    {{ form.image }}
                </div>
                <button type="submit">Submit</button>
            </form>
            
        {% else %}
            Please sign in or register above to create a listing.
        {% endif %}
    </div>
{% endblock %}